
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Memin Spotify Wrapped</h1>
</div>

<div class="container mt-4">
    <div class="text-center mb-4">
        <button class="btn btn-warning w-30 mb-2" type="button"><strong>Download lastest update</strong></button>
    </div>

    
</div>
